/*-----------------------------------------------------------------------
~ Main
------------------------------------------------------------------------*/

@import "neat";
@import "base/_normalize.scss";

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

$neat-grid: (
  columns: 12,
  gutter: 0,
);


html {
  height: 100%;
}

body {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-size: 62.5%;
  text-shadow: 1px 1px 1px rgba(51,51,51,.4);
	min-height: 100%;
	letter-spacing: .03rem;
}

h1 {
  text-align: center;
  font-weight: 100;
}

//colors
$lightgrey: #ccc;





#main {
  height: 100%;
}

section {
	//border-bottom: 1px solid #fff;
	padding: 1rem 0;

	h2 {
		border-bottom: 1px solid #fff;
		padding: .4rem .7rem;
		text-align: left;
		font-size: .8rem;
		text-transform: uppercase;
		margin-bottom: 1.1rem;
		span {
			float: right;
			&.separator {
				padding: 0 .2rem;
			}
			&.today-min {
				color: $lightgrey;
			}
		}
	}
}


.stars {
	width: 100%;
	height: 100%;
	display: block;
	content: ' ';
	top: 0;
	left: 0;
	position: fixed;
	background-attachment: fixed;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 15px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 20px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 8px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 4rem 6rem, 13rem 27rem, 70px 100px;
}

.forekast__wrapper {
	max-width:  700px;
  background: #fff;
	width: 100vw;
  height: 100vh;
  transition: all 1.3s ease;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	position: fixed;
	background-attachment: fixed;

  &.rain {
    background: linear-gradient(to top, #e6dada, #274046);
  }
  &.clear-day {
    background: linear-gradient(to top, #2193b0, #6dd5ed);
  }
	&.clear-night {
		//background-image: linear-gradient(to bottom, #232526, #414345);
		background-color: #1b2b2f;
		&::after {
			@extend .stars;
		}
	}
	&.cloudy {
		background: #e2e2e2;
		background: linear-gradient(to bottom,#b3b3b3 50%,#c9d6FF 150%);
	}
	&.partly-cloudy-day {
		background-image: linear-gradient(#aaa, #ddd);
	}
	&.partly-cloudy-night {
		background-color: #02232b;
		&::after {
			@extend .stars;
		}
	}
	&.fog {
		background-image: linear-gradient(#aaa, #ddd);
	}
}

.forekast {
	@include grid-container;
}

.unit-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
	a, span {
		font-size: .9rem;
		color: $lightgrey;
		text-decoration: none;
		&:hover {

		}
		&.selected {
			font-size: 500;
			color: #fff;
		}
	}
}

.weather-now {
	padding-top: 5rem;
  @include grid-column(12);

  .weather-now__city {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
  }
	.weather-now__summary {
		text-align: center;
		font-size: 1rem;
		padding: .5rem 0 1rem;
	}

  .weather-now__icon-wrapper {
    @include grid-column(6 of 12);
		height: 10rem;

    canvas {
      //width: 80% !important;
      float: right;
    }
  }
  .weather-now__wrapper {
    @include grid-column(6 of 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
		height: 10rem;
  }
  .weather-now__temperature {
		font-size: 5rem;
    font-weight: 300;
		padding-left: 1.5rem;
    sup {
      font-size: 3rem;
    }
  }

	.summary {
		@include grid-column(12);
	}

}

.forekastLoader {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 40%;
}


.summary {
	font-size: .9rem;
	text-align: center;
	font-weight: 300;
	line-height: 1.3rem;
	padding: 0 .7rem;
}

.weather-by-days_list {
	padding-top: 1rem;
	width: 100%;
  overflow-x: scroll;
  overflow-y: auto;

	&::-webkit-scrollbar {
	    display: none;
	}

	ul {
		list-style-type: none;
		white-space: nowrap;
	}

	li {
			width: 22.2%;
			display: inline-block;
			text-align: center;
			div {
				padding-top: .3rem;
				font-size: .7rem;
				.temp-min {
					color: $lightgrey;
				}
			}
	}
}


.weather-infos {
  text-align: center;
  font-size: .8rem;
  font-weight: 300;

	.group {
		margin-bottom: 1rem;
		@include grid-container;
	}

  .group div {
    @include grid-column(6);
    padding: .2rem;
    &:nth-child(odd) {
      text-align: right;
    }
    &:nth-child(even) {
      text-align: left;
    }
  }
}

footer {
	text-align: center;
	padding: 1rem;
	a {
		color: #fff;
	}
	margin-top: 2rem;
}
