
.stars {
	width: 100%;
	height: 100%;
	display: block;
	content: ' ';
	top: 0;
	left: 0;
	position: fixed;
	background-attachment: fixed;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 12px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 15px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 8px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 4rem 6rem, 13rem 27rem, 70px 100px;
}

.clouds {
	width: 100%;
	height: 100%;
	display: block;
	content: ' ';
	top: 0;
	left: 0;
	position: fixed;
	opacity: .7;
	background-attachment: fixed;
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
}

.cloud1 {
	@extend .clouds;
	background-image: url(../images/cloud1.png);
}

.drops {
  width: 100vw;
	height: 100vh;
	display: block;
	content: ' ';
	top: 0;
	left: 0;
	position: fixed;
  opacity: .7;
	background: url(../images/drops.png) left top no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
}

.forekast__wrapper {
	max-width:  700px;
  background: #fff;
	width: 100%;
  height: 100%;
  transition: all .5s ease;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	//position: fixed;
	background-attachment: fixed;
  &::after {
    transform: translate3d(0,0,0);
  }

  &.rain {
    background: linear-gradient(to top, #e6dada, #274046);
		&::after {
			@extend .drops;
		}
  }
  &.clear-day {
    background: linear-gradient(to top,#2193b0 10%,#6dd5ed 60%);
  }
	&.clear-night {
		background-image: linear-gradient(to bottom,#232526 60%,#254667 110%);
		&::after {
			@extend .stars;
		}
	}
	&.cloudy {
		background: #e2e2e2;
		background: linear-gradient(to bottom,#b3b3b3 70%,#6ab0d2 150%);
		&::after {
			@extend .cloud1;
		}
	}
	&.partly-cloudy-day {
		background: linear-gradient(to bottom,#a9a8a8 50%,rgb(80, 118, 148) 120%);
		&::after {
			@extend .cloud1;
		}
	}
	&.partly-cloudy-night {
		background: linear-gradient(to bottom,#000000 40%,#043542 91%);
		&::before {
			@extend .stars;
		}
		&::after {
			@extend .cloud1;
		}
	}
	&.fog {
		background-image: linear-gradient(#aaa, #ddd);
		&::after {
			@extend .cloud1;
		}
	}
	&.sleet {

	}
	&.wind {

	}
	&.snow {

	}
}

.forekast {
	@include grid-container;
  position: relative;
  height: 100%;
}

.unit-toggle {
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
  font-weight: 300;
  font-size: 1.1rem;
  z-index: 10;
	a, span {
		color: $lightgrey;
		text-decoration: none;
    margin: 0 .08rem;
		&:hover {

		}
		&.selected {
			font-weight: 300;
			color: #fff;
		}
	}
}

.forekastLoader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.summary {
	font-size: .9rem;
	text-align: center;
	font-weight: 300;
	line-height: 1.3rem;
	padding: 0 .7rem;
}